<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" style="display: none"></script>
<script type="text/javascript" src="/../../javascripts/graphs.js"></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
{{#if matches1.valid}}
//champs
var dataC1 = [
  ['Champion', 'Times played'],
  {{#each matches1.championCountUse}}
  ['{{this.name}}', {{this.count}}],
  {{/each}}
];
//roles
  var dataR1 = [
    ['Roles Played', 'Times played'],
    ['TOP', {{matches1.actualpositionCount.TOP}}],
    ['JUNGLE', {{matches1.actualpositionCount.JUNGLE}}],
    ['MID', {{matches1.actualpositionCount.MID}}],
    ['ADC', {{matches1.actualpositionCount.ADC}}],
    ['SUPPORT', {{matches1.actualpositionCount.SUPPORT}}],
];
drawChamps(dataC1, "pieC1");
drawRoles(dataR1, "pieR1");
{{else}}
{{/if}}
{{#if matches2.valid}}
//champion data
  var dataC2 = [
    ['Champion', 'Times played'],
    {{#each matches2.championCountUse}}
    ['{{this.name}}', {{this.count}}],
    {{/each}}
  ];
//role data
  var dataR2 = [
    ['Roles Played', 'Times played'],
    ['TOP', {{matches2.actualpositionCount.TOP}}],
    ['JUNGLE', {{matches2.actualpositionCount.JUNGLE}}],
    ['MID', {{matches2.actualpositionCount.MID}}],
    ['ADC', {{matches2.actualpositionCount.ADC}}],
    ['SUPPORT', {{matches2.actualpositionCount.SUPPORT}}],
];
drawChamps(dataC2, "pieC2");
drawRoles(dataR2, "pieR2");
{{else}}
{{/if}}
{{#if matches1.valid}}
    {{#if matches2.valid}}
    var dataDamage = [
        ['Match', '{{summoner1.name}}',"{{summoner1.name}}'s average",'{{summoner2.name}}',"{{summoner2.name}}'s average"],
        ['Match 1',{{matches1.matchData.0.damagePerMin}},{{averages.damagePerMin.summOne}},{{matches2.matchData.0.damagePerMin}},{{averages.damagePerMin.summTwo}}],
        ['Match 2',{{matches1.matchData.1.damagePerMin}},{{averages.damagePerMin.summOne}},{{matches2.matchData.1.damagePerMin}},{{averages.damagePerMin.summTwo}}],
        ['Match 3',{{matches1.matchData.2.damagePerMin}},{{averages.damagePerMin.summOne}},{{matches2.matchData.2.damagePerMin}},{{averages.damagePerMin.summTwo}}],
        ['Match 4',{{matches1.matchData.3.damagePerMin}},{{averages.damagePerMin.summOne}},{{matches2.matchData.3.damagePerMin}},{{averages.damagePerMin.summTwo}}],
        ['Match 5',{{matches1.matchData.4.damagePerMin}},{{averages.damagePerMin.summOne}},{{matches2.matchData.4.damagePerMin}},{{averages.damagePerMin.summTwo}}],
        ['Match 6',{{matches1.matchData.5.damagePerMin}},{{averages.damagePerMin.summOne}},{{matches2.matchData.5.damagePerMin}},{{averages.damagePerMin.summTwo}}],
        ['Match 7',{{matches1.matchData.6.damagePerMin}},{{averages.damagePerMin.summOne}},{{matches2.matchData.6.damagePerMin}},{{averages.damagePerMin.summTwo}}],
        ['Match 8',{{matches1.matchData.7.damagePerMin}},{{averages.damagePerMin.summOne}},{{matches2.matchData.7.damagePerMin}},{{averages.damagePerMin.summTwo}}],
        ['Match 9',{{matches1.matchData.8.damagePerMin}},{{averages.damagePerMin.summOne}},{{matches2.matchData.8.damagePerMin}},{{averages.damagePerMin.summTwo}}],
        ['Match 10',{{matches1.matchData.9.damagePerMin}},{{averages.damagePerMin.summOne}},{{matches2.matchData.9.damagePerMin}},{{averages.damagePerMin.summTwo}}]
    ];

    drawDamage(dataDamage, "damageChart");
    var dataGold = [
        ['Match', '{{summoner1.name}}',"{{summoner1.name}}'s average",'{{summoner2.name}}',"{{summoner2.name}}'s average"],
        ['Match 1',{{matches1.matchData.0.goldPerMin}},{{averages.goldPerMin.summOne}},{{matches2.matchData.0.goldPerMin}},{{averages.goldPerMin.summTwo}}],
        ['Match 2',{{matches1.matchData.1.goldPerMin}},{{averages.goldPerMin.summOne}},{{matches2.matchData.1.goldPerMin}},{{averages.goldPerMin.summTwo}}],
        ['Match 3',{{matches1.matchData.2.goldPerMin}},{{averages.goldPerMin.summOne}},{{matches2.matchData.2.goldPerMin}},{{averages.goldPerMin.summTwo}}],
        ['Match 4',{{matches1.matchData.3.goldPerMin}},{{averages.goldPerMin.summOne}},{{matches2.matchData.3.goldPerMin}},{{averages.goldPerMin.summTwo}}],
        ['Match 5',{{matches1.matchData.4.goldPerMin}},{{averages.goldPerMin.summOne}},{{matches2.matchData.4.goldPerMin}},{{averages.goldPerMin.summTwo}}],
        ['Match 6',{{matches1.matchData.5.goldPerMin}},{{averages.goldPerMin.summOne}},{{matches2.matchData.5.goldPerMin}},{{averages.goldPerMin.summTwo}}],
        ['Match 7',{{matches1.matchData.6.goldPerMin}},{{averages.goldPerMin.summOne}},{{matches2.matchData.6.goldPerMin}},{{averages.goldPerMin.summTwo}}],
        ['Match 8',{{matches1.matchData.7.goldPerMin}},{{averages.goldPerMin.summOne}},{{matches2.matchData.7.goldPerMin}},{{averages.goldPerMin.summTwo}}],
        ['Match 9',{{matches1.matchData.8.goldPerMin}},{{averages.goldPerMin.summOne}},{{matches2.matchData.8.goldPerMin}},{{averages.goldPerMin.summTwo}}],
        ['Match 10',{{matches1.matchData.9.goldPerMin}},{{averages.goldPerMin.summOne}},{{matches2.matchData.9.goldPerMin}},{{averages.goldPerMin.summTwo}}]
    ];
    drawGold(dataGold, "goldChart");
    var dataCS = [
        ['Match', '{{summoner1.name}}',"{{summoner1.name}}'s average",'{{summoner2.name}}',"{{summoner2.name}}'s average"],
        ['Match 1',{{matches1.matchData.0.csPerMin}},{{averages.csPerMin.summOne}},{{matches2.matchData.0.csPerMin}},{{averages.csPerMin.summTwo}}],
        ['Match 2',{{matches1.matchData.1.csPerMin}},{{averages.csPerMin.summOne}},{{matches2.matchData.1.csPerMin}},{{averages.csPerMin.summTwo}}],
        ['Match 3',{{matches1.matchData.2.csPerMin}},{{averages.csPerMin.summOne}},{{matches2.matchData.2.csPerMin}},{{averages.csPerMin.summTwo}}],
        ['Match 4',{{matches1.matchData.3.csPerMin}},{{averages.csPerMin.summOne}},{{matches2.matchData.3.csPerMin}},{{averages.csPerMin.summTwo}}],
        ['Match 5',{{matches1.matchData.4.csPerMin}},{{averages.csPerMin.summOne}},{{matches2.matchData.4.csPerMin}},{{averages.csPerMin.summTwo}}],
        ['Match 6',{{matches1.matchData.5.csPerMin}},{{averages.csPerMin.summOne}},{{matches2.matchData.5.csPerMin}},{{averages.csPerMin.summTwo}}],
        ['Match 7',{{matches1.matchData.6.csPerMin}},{{averages.csPerMin.summOne}},{{matches2.matchData.6.csPerMin}},{{averages.csPerMin.summTwo}}],
        ['Match 8',{{matches1.matchData.7.csPerMin}},{{averages.csPerMin.summOne}},{{matches2.matchData.7.csPerMin}},{{averages.csPerMin.summTwo}}],
        ['Match 9',{{matches1.matchData.8.csPerMin}},{{averages.csPerMin.summOne}},{{matches2.matchData.8.csPerMin}},{{averages.csPerMin.summTwo}}],
        ['Match 10',{{matches1.matchData.9.csPerMin}},{{averages.csPerMin.summOne}},{{matches2.matchData.9.csPerMin}},{{averages.csPerMin.summTwo}}]
    ];
    drawCS(dataCS, "CSChart");
    var dataKD = [
        ['Match', '{{summoner1.name}}',"{{summoner1.name}}'s average",'{{summoner2.name}}',"{{summoner2.name}}'s average"],
        ['Match 1',{{matches1.matchData.0.kdaRatio}},{{averages.kdaRatio.summOne}},{{matches2.matchData.0.kdaRatio}},{{averages.kdaRatio.summTwo}}],
        ['Match 2',{{matches1.matchData.1.kdaRatio}},{{averages.kdaRatio.summOne}},{{matches2.matchData.1.kdaRatio}},{{averages.kdaRatio.summTwo}}],
        ['Match 3',{{matches1.matchData.2.kdaRatio}},{{averages.kdaRatio.summOne}},{{matches2.matchData.2.kdaRatio}},{{averages.kdaRatio.summTwo}}],
        ['Match 4',{{matches1.matchData.3.kdaRatio}},{{averages.kdaRatio.summOne}},{{matches2.matchData.3.kdaRatio}},{{averages.kdaRatio.summTwo}}],
        ['Match 5',{{matches1.matchData.4.kdaRatio}},{{averages.kdaRatio.summOne}},{{matches2.matchData.4.kdaRatio}},{{averages.kdaRatio.summTwo}}],
        ['Match 6',{{matches1.matchData.5.kdaRatio}},{{averages.kdaRatio.summOne}},{{matches2.matchData.5.kdaRatio}},{{averages.kdaRatio.summTwo}}],
        ['Match 7',{{matches1.matchData.6.kdaRatio}},{{averages.kdaRatio.summOne}},{{matches2.matchData.6.kdaRatio}},{{averages.kdaRatio.summTwo}}],
        ['Match 8',{{matches1.matchData.7.kdaRatio}},{{averages.kdaRatio.summOne}},{{matches2.matchData.7.kdaRatio}},{{averages.kdaRatio.summTwo}}],
        ['Match 9',{{matches1.matchData.8.kdaRatio}},{{averages.kdaRatio.summOne}},{{matches2.matchData.8.kdaRatio}},{{averages.kdaRatio.summTwo}}],
        ['Match 10',{{matches1.matchData.9.kdaRatio}},{{averages.kdaRatio.summOne}},{{matches2.matchData.9.kdaRatio}},{{averages.kdaRatio.summTwo}}]
    ];
    drawKD(dataKD, "KDChart");
    {{/if}}
{{/if}}
</script>
<div class="bgImageContainer one">
</div>
<a href="/"><image class="logo" src="/../../images/logo.png" alt="LOLSTATS.GG HOME" title="LOLSTATS.GG HOME"/></a>
{{#if validRegion1}}
    {{#if validRegion2}}
        {{#if summoner1.exists}}
            {{#if summoner2.exists}}
                <div class="bodyContainer">
                    <div class="pageContent">
                        <h1 class="mainText">{{summoner1.name}} ({{summoner1.region}}) vs {{summoner2.name}} ({{summoner2.region}}) </h1>
                        </br>

                        {{#if matches1.valid}}
                            <div class="rowContainer top">
                                <div class="summaryRow center">
                                    <img class="wrapperImage rounded" src="http://stelar7.no/cdragon/latest/profile-icons/{{ summoner1.profileIconId }}.jpg" />
                                    <div class="summaryInfo">
                                        <div class="mainText">{{summoner1.name}}</div>
                                        <div class="mainText">{{summoner1.region}}</div>
                                        <div class="mainText">Level: {{summoner1.summonerLevel}}</div>
                                        <div class="mainText"><a class="urlStyle" href="/lookup/{{summoner1.region}}/{{summoner1.name}}">VIEW PROFILE</a></div>
                                    </div>
                                </div>
                                <div class="summaryRow center">
                                    {{#if rankedInfo1.tier}}
                                        <img class="wrapperImage" src="/../../images/ranked/{{rankedInfo1.tier}}_{{rankedInfo1.rank}}.png" />
                                        <div class="summaryInfo">
                                            <div class="mainText">{{ rankedInfo1.tier }} {{rankedInfo1.rank}} </div>
                                            <div class="mainText">{{rankedInfo1.leaguePoints}} LP</div>
                                            <div class="mainText">Win: {{rankedInfo1.winRateRanked}}%</div>
                                            <div class="mainText">Games played: {{rankedInfo1.totalGamesRanked}}</div>
                                        </div>
                                    {{else}}
                                        <img class="wrapperImage" src="/../../images/ranked/unranked.png" />
                                        <div class="summaryInfo">
                                            <p class="mainText">Unranked</p>
                                        </div>
                                    {{/if}}
                                </div>
                                <div class="summaryRow center">
                                    <img class="wrapperImage rounded" src="http://stelar7.no/cdragon/latest/champion-icons/{{mastery1.championId}}.png" />
                                    <img class="wrapperImage" src="/../../images/mastery/champMasteryLevel_{{mastery1.championLevel}}.png" />
                                    <div class="summaryInfo">
                                        <div class="mainText">{{mastery1.championName}}, {{mastery1.championTitle}}</div>
                                        <div class="mainText">Points: {{mastery1.championPoints}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="summaryTitle">
                                Role/Champion distribution of {{summoner1.name}} over last {{matches1.ids.length}} games </br>
                                Win Ratio: {{matches1.winRatio}}%
                            </div>
                            <div class="rowContainer bottom">
                                <div class="summaryRow">
                                    <img class="wrapperImage rounded" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches1.modeChampion.info.mode}}.png" />
                                    <div class="summaryInfo">
                                        <div class="mainText">Most Played Champion</div>
                                        <div class="mainText">{{matches1.modeChampion.name}}, {{matches1.modeChampion.title}}</div>
                                        <div class="mainText">Games played: {{matches1.modeChampion.info.count}}</div>
                                    </div>
                                </div>
                                <div class="summaryRow">
                                    <img class="wrapperImage" src="/../../images/roles/{{matches1.modePosition.mode}}.png" />
                                    <div class="summaryInfo">
                                        <div class="mainText">Most Played Role</div>
                                        <div class="mainText">{{matches1.modePosition.mode}}</div>
                                        <div class="mainText">Games played: {{matches1.modePosition.count}}</div>
                                    </div>
                                </div>
                                <div class="summaryRow">
                                    <button class="distBtn" id="defaultDist" onclick="changeDist('roles1', 'champs1');">Role distribution</button><button class="distBtn active" onclick="changeDist('champs1', 'roles1');">Champion distribution</button>
                                    <div id="roles1" class="displayContent">
                                        <div id="pieR1" class="pieChart"></div>
                                    </div>
                                    <div id="champs1" class="displayContent">
                                        <div id="pieC1" class="pieChart"></div>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <h2 class="mainText">{{summoner1.name}} has not played enough games on Summoner's Rift recently to get data</h2>
                        {{/if}}
                        </br>
                        <h2 class="mainText">VS</h2>
                        <br />
                        {{#if matches2.valid}}
                            <div class="rowContainer top">
                                <div class="summaryRow center">
                                    <img class="wrapperImage rounded" src="http://stelar7.no/cdragon/latest/profile-icons/{{ summoner2.profileIconId }}.jpg" />
                                    <div class="summaryInfo">
                                        <div class="mainText">{{summoner2.name}}</div>
                                        <div class="mainText">{{summoner2.region}}</div>
                                        <div class="mainText">Level: {{summoner2.summonerLevel}}</div>
                                        <div class="mainText"><a class="urlStyle" href="/lookup/{{summoner2.region}}/{{summoner2.name}}">VIEW PROFILE</a></div>
                                    </div>
                                </div>
                                <div class="summaryRow center">
                                    {{#if rankedInfo2.tier}}
                                        <img class="wrapperImage" src="/../../images/ranked/{{rankedInfo2.tier}}_{{rankedInfo2.rank}}.png" />
                                        <div class="summaryInfo">
                                            <div class="mainText">{{ rankedInfo2.tier }} {{rankedInfo2.rank}} </div>
                                            <div class="mainText">{{rankedInfo2.leaguePoints}} LP</div>
                                            <div class="mainText">Win: {{rankedInfo2.winRateRanked}}%</div>
                                            <div class="mainText">Games played: {{rankedInfo2.totalGamesRanked}}</div>
                                        </div>
                                    {{else}}
                                        <img class="wrapperImage" src="/../../images/ranked/unranked.png" />
                                        <div class="summaryInfo">
                                            <p class="mainText">Unranked</p>
                                        </div>
                                    {{/if}}
                                </div>
                                <div class="summaryRow center">
                                    <img class="wrapperImage rounded" src="http://stelar7.no/cdragon/latest/champion-icons/{{mastery2.championId}}.png" />
                                    <img class="wrapperImage" src="/../../images/mastery/champMasteryLevel_{{mastery2.championLevel}}.png" />
                                    <div class="summaryInfo">
                                        <div class="mainText">{{mastery2.championName}}, {{mastery2.championTitle}}</div>
                                        <div class="mainText">Points: {{mastery2.championPoints}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="summaryTitle">
                                Role/Champion distribution of {{summoner2.name}} over last {{matches2.ids.length}} games </br>
                                Win Ratio: {{matches2.winRatio}}%
                            </div>
                            <div class="rowContainer bottom">
                                <div class="summaryRow">
                                    <img class="wrapperImage rounded" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches2.modeChampion.info.mode}}.png" />
                                    <div class="summaryInfo">
                                        <div class="mainText underline">Most Played Champion</div>
                                        <div class="mainText">{{matches2.modeChampion.name}}, {{matches2.modeChampion.title}}</div>
                                        <div class="mainText">Games played: {{matches2.modeChampion.info.count}}</div>
                                    </div>
                                </div>
                                <div class="summaryRow">
                                    <img class="wrapperImage" src="/../../images/roles/{{matches2.modePosition.mode}}.png" />
                                    <div class="summaryInfo">
                                        <div class="mainText underline">Most Played Role</div>
                                        <div class="mainText">{{matches2.modePosition.mode}}</div>
                                        <div class="mainText">Games played: {{matches2.modePosition.count}}</div>
                                    </div>
                                </div>
                                <div class="summaryRow">
                                    <button class="distBtn1" id="defaultDist1" onclick="changeDist('roles2', 'champs2');">Role distribution</button><button class="distBtn1 active" onclick="changeDist('champs2', 'roles2');">Champion distribution</button>
                                    <div id="roles2" class="displayContent">
                                        <div id="pieR2" class="pieChart"></div>
                                    </div>
                                    <div id="champs2" class="displayContent">
                                        <div id="pieC2" class="pieChart"></div>
                                    </div>
                                </div>
                            </div>
                        {{else}}
                            <h2 class="mainText">{{summoner2.name}} has not played enough games on Summoner's Rift recently to get data</h2>
                        {{/if}}
                        <h2 class="mainText">Stat Comparison</h2>
                        {{#if noValidMatches}}
                            <h2 class="mainText">{{summoner1.name}}  and {{summoner2.name}} have not played enough games on Summoner's Rift recently to get match data</h2>
                        {{else}}
                            {{#if matches1.valid}}
                                {{#if matches2.valid}}
                                    <h4 class="mainText">{{summoner1.name}} vs {{summoner2.name}} over last {{matches1.ids.length}} games</h4>
                                    <div class="rowContainerNF">
                                        <button class="graphBtn" id="graphBtn" onclick="changeGraph('dmgG')">Damage Dealt/min</button>
                                        <button class="graphBtn" id="graphBtn1" onclick="changeGraph('goldG')">Gold Earned/min</button>
                                        <button class="graphBtn" id="graphBtn2" onclick="changeGraph('csG')">Creep Score/min</button>
                                        <button class="graphBtn active" id="graphBtn3" onclick="changeGraph('kdaG')">KDA Ratio</button>
                                        <div class="displayGraph" id="dmgG">
                                            <div class="mainText">
                                                <div id="damageChart"></div>
                                            </div>
                                        </div>
                                        <div class="displayGraph" id="goldG">
                                            <div class="mainText">
                                                <div id="goldChart"></div>

                                            </div>
                                        </div>
                                        <div class="displayGraph" id="csG">
                                            <div class="mainText">
                                                <div id="CSChart"></div>
                                            </div>
                                        </div>
                                        <div class="displayGraph" id="kdaG">
                                            <div class="mainText">
                                                <div id="KDChart"></div>
                                            </div>
                                        </div>
                                    </div>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    </br>
                                    <div class="mainText">
                                        {{#each averages}}
                                            {{this.statName}}: {{this.summOne}} / {{this.summTwo}} / {{this.delta}}</br>
                                        {{/each}}
                                {{else}}
                                    <h2 class="mainText">{{summoner2.name}} has not played enough games on Summoner's Rift recently to get match data</h2>
                                {{/if}}
                            {{else}}
                                <h2 class="mainText">{{summoner1.name}} has not played enough games on Summoner's Rift recently to get match data</h2>
                            {{/if}}
                        {{/if}}
                        </div>
                    </div>
                </br>
                </br>
                <div class="mainText">
                    <a class="urlStyle" href="/legal">LOLSTATS.GG - Legal Information</a>
                </div>
                </div>
            {{else}}
                <div class="mainText">
                    {{summoner2.name}} does not exist on server {{summoner2.region}}
                </div>
            {{/if}}
        {{else}}
            <div class="mainText">
                {{summoner1.name}} does not exist on server {{summoner1.region}}
            </div>
        {{/if}}
    {{else}}
        <div class="mainText">
            Invalid region "{{summoner2.region}}" for {{summoner2.name}}
        </div>
    {{/if}}
{{else}}
    <div class="mainText">
        Invalid region "{{summoner1.region}}" for {{summoner1.name}}
    </div>
{{/if}}
