{{#if validRegion1}}
    {{#if validRegion2}}
        {{#if summoner1.exists}}
            {{#if summoner2.exists}}
                <div class="bodyContainer">
                    <div class="pageContent">
                        <h1 class="mainText">Comparison</h1>
                        <h1 class="mainText">{{summoner1.name}} ({{summoner1.region}}) vs {{summoner2.name}} ({{summoner2.region}}) </h1>
                        </br>
                        {{#if matches1.valid}}
                            <div class="rowContainer top">
                                <div class="summaryRow center">
                                    <img class="wrapperImage rounded" src="http://stelar7.no/cdragon/latest/profile-icons/{{ summoner1.profileIconId }}.jpg" />
                                    <div class="summaryInfo">
                                        <div class="mainText">{{summoner1.name}}</div>
                                        <div class="mainText">{{summoner1.region}}</div>
                                        <div class="mainText">Level: {{summoner1.summonerLevel}}</div>
                                        <div class="mainText"><a class="urlStyle" href="/lookup/{{summoner1.region}}/{{summoner1.name}}">VIEW PROFILE</a></div>
                                    </div>
                                </div>
                                <div class="summaryRow center">
                                    {{#if rankedInfo1.tier}}
                                        <img class="wrapperImage" src="/../../images/ranked/{{rankedInfo1.tier}}_{{rankedInfo1.rank}}.png" />
                                        <div class="summaryInfo">
                                            <div class="mainText">{{ rankedInfo1.tier }} {{rankedInfo1.rank}} </div>
                                            <div class="mainText">{{rankedInfo1.leaguePoints}} LP</div>
                                            <div class="mainText">Win: {{rankedInfo1.winRateRanked}}%</div>
                                            <div class="mainText">Games played: {{rankedInfo1.totalGamesRanked}}</div>
                                        </div>
                                    {{else}}
                                        <img class="wrapperImage" src="/../../images/ranked/unranked.png" />
                                        <div class="summaryInfo">
                                            <p class="mainText">Unranked</p>
                                        </div>
                                    {{/if}}
                                </div>
                                <div class="summaryRow center">
                                    <img class="wrapperImage rounded" src="http://stelar7.no/cdragon/latest/champion-icons/{{mastery1.championId}}.png" />
                                    <img class="wrapperImage" src="/../../images/mastery/champMasteryLevel_{{mastery1.championLevel}}.png" />
                                    <div class="summaryInfo">
                                            <div class="mainText">{{mastery1.championName}}, {{mastery1.championTitle}}</div>
                                            <div class="mainText">Points: {{mastery1.championPoints}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="summaryTitle">
                                Role/Champion distribution of {{summoner1.name}} over last {{matches1.ids.length}} games </br>
                                Win Ratio: {{matches1.winRatio}}%
                            </div>
                            <div class="rowContainer bottom">
                                <div class="summaryRow">
                                    <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches1.modeChampion.info.mode}}.png" />
                                    <div class="summaryInfo">
                                        <div class="mainText">Most Played Champion</div>
                                        <div class="mainText">{{matches1.modeChampion.name}}, {{matches1.modeChampion.title}}</div>
                                        <div class="mainText">Games played: {{matches1.modeChampion.info.count}}</div>
                                    </div>
                                </div>
                                <div class="summaryRow">
                                    <img class="wrapperImage" src="/../../images/roles/{{matches1.modePosition.mode}}.png" />
                                    <div class="summaryInfo">
                                        <div class="mainText">Most Played Role</div>
                                        <div class="mainText">{{matches1.modePosition.mode}}</div>
                                        <div class="mainText">Games played: {{matches1.modePosition.count}}</div>
                                    </div>
                                </div>
                                <div class="summaryRow">
                                    <dl>
                                        <div class="mainText underline">
                                            Role distribution
                                        </div>
                                        <dd class="percentage percentage-{{matches1.actualpositionCount.TOP}}0"><span class="textBarChart">TOP: {{matches1.actualpositionCount.TOP}}</span></dd>
                                        <dd class="percentage percentage-{{matches1.actualpositionCount.JUNGLE}}0"><span class="textBarChart">JUNGLE: {{matches1.actualpositionCount.JUNGLE}}</span></dd>
                                        <dd class="percentage percentage-{{matches1.actualpositionCount.MID}}0"><span class="textBarChart">MID: {{matches1.actualpositionCount.MID}}</span></dd>
                                        <dd class="percentage percentage-{{matches1.actualpositionCount.ADC}}0"><span class="textBarChart">ADC: {{matches1.actualpositionCount.ADC}}</span></dd>
                                        <dd class="percentage percentage-{{matches1.actualpositionCount.SUPPORT}}0"><span class="textBarChart">SUPPORT: {{matches1.actualpositionCount.SUPPORT}}</span></dd>
                                    </dl>
                                </div>
                            </div>
                        {{else}}
                            <h2 class="mainText">{{summoner1.name}} has not played enough games on Summoner's Rift recently to get data</h2>
                        {{/if}}
                        </br>
                        <h2 class="mainText">VS</h2>
                        <br />
                        {{#if mastery2.valid}}
                            <div class="rowContainer top">
                                <div class="summaryRow center">
                                    <img class="wrapperImage rounded" src="http://stelar7.no/cdragon/latest/profile-icons/{{ summoner2.profileIconId }}.jpg" />
                                    <div class="summaryInfo">
                                        <div class="mainText">{{summoner2.name}}</div>
                                        <div class="mainText">{{summoner2.region}}</div>
                                        <div class="mainText">Level: {{summoner2.summonerLevel}}</div>
                                        <div class="mainText"><a class="urlStyle" href="/lookup/{{summoner2.region}}/{{summoner2.name}}">VIEW PROFILE</a></div>
                                    </div>
                                </div>
                                <div class="summaryRow center">
                                    {{#if rankedInfo2.tier}}
                                        <img class="wrapperImage" src="/../../images/ranked/{{rankedInfo2.tier}}_{{rankedInfo2.rank}}.png" />
                                        <div class="summaryInfo">
                                            <div class="mainText">{{ rankedInfo2.tier }} {{rankedInfo2.rank}} </div>
                                            <div class="mainText">{{rankedInfo2.leaguePoints}} LP</div>
                                            <div class="mainText">Win: {{rankedInfo2.winRateRanked}}%</div>
                                            <div class="mainText">Games played: {{rankedInfo2.totalGamesRanked}}</div>
                                        </div>
                                    {{else}}
                                        <img class="wrapperImage" src="/../../images/ranked/unranked.png" />
                                        <div class="summaryInfo">
                                            <p class="mainText">Unranked</p>
                                        </div>
                                    {{/if}}
                                </div>
                                <div class="summaryRow center">
                                    <img class="wrapperImage rounded" src="http://stelar7.no/cdragon/latest/champion-icons/{{mastery2.championId}}.png" />
                                    <img class="wrapperImage" src="/../../images/mastery/champMasteryLevel_{{mastery2.championLevel}}.png" />
                                    <div class="summaryInfo">
                                            <div class="mainText">{{mastery2.championName}}, {{mastery2.championTitle}}</div>
                                            <div class="mainText">Points: {{mastery2.championPoints}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="summaryTitle">
                                Role/Champion distribution of {{summoner2.name}} over last {{matches2.ids.length}} games </br>
                                Win Ratio: {{matches2.winRatio}}%
                            </div>
                            <div class="rowContainer bottom">
                                <div class="summaryRow">
                                    <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches2.modeChampion.info.mode}}.png" />
                                    <div class="summaryInfo">
                                        <div class="mainText underline">Most Played Champion</div>
                                        <div class="mainText">{{matches2.modeChampion.name}}, {{matches2.modeChampion.title}}</div>
                                        <div class="mainText">Games played: {{matches2.modeChampion.info.count}}</div>
                                    </div>
                                </div>
                                <div class="summaryRow">
                                    <img class="wrapperImage" src="/../../images/roles/{{matches2.modePosition.mode}}.png" />
                                    <div class="summaryInfo">
                                        <div class="mainText underline">Most Played Role</div>
                                        <div class="mainText">{{matches2.modePosition.mode}}</div>
                                        <div class="mainText">Games played: {{matches2.modePosition.count}}</div>
                                    </div>
                                </div>
                                <div class="summaryRow">
                                    <dl>
                                        <div class="mainText underline">
                                            Role distribution
                                        </div>
                                        <dd class="percentage percentage-{{matches2.actualpositionCount.TOP}}0"><span class="textBarChart">TOP: {{matches2.actualpositionCount.TOP}}</span></dd>
                                        <dd class="percentage percentage-{{matches2.actualpositionCount.JUNGLE}}0"><span class="textBarChart">JUNGLE: {{matches2.actualpositionCount.JUNGLE}}</span></dd>
                                        <dd class="percentage percentage-{{matches2.actualpositionCount.MID}}0"><span class="textBarChart">MID: {{matches2.actualpositionCount.MID}}</span></dd>
                                        <dd class="percentage percentage-{{matches2.actualpositionCount.ADC}}0"><span class="textBarChart">ADC: {{matches2.actualpositionCount.ADC}}</span></dd>
                                        <dd class="percentage percentage-{{matches2.actualpositionCount.SUPPORT}}0"><span class="textBarChart">SUPPORT: {{matches2.actualpositionCount.SUPPORT}}</span></dd>
                                    </dl>
                                </div>
                            </div>
                        {{else}}
                            <h2 class="mainText">{{summoner2.name}} has not played enough games on Summoner's Rift recently to get data</h2>
                        {{/if}}
                        <h2 class="mainText">Stat Comparison</h2>
                        {{#if noValidMatches}}
                            <h2 class="mainText">{{summoner1.name}}  and {{summoner2.name}} have not played enough games on Summoner's Rift recently to get match data</h2>
                        {{else}}
                            {{#if matches1.valid}}
                                {{#if matches2.valid}}
                                    <h4 class="mainText">{{summoner1.name}} vs {{summoner2.name}} over last {{matches1.ids.length}} games</h4>
                                    <div class="mainText">
                                        {{#each averages}}
                                            {{this.statName}}: {{this.summOne}} / {{this.summTwo}} / {{this.delta}}</br>
                                        {{/each}}
                                {{else}}
                                    <h2 class="mainText">{{summoner2.name}} has not played enough games on Summoner's Rift recently to get match data</h2>
                                {{/if}}
                            {{else}}
                                <h2 class="mainText">{{summoner1.name}} has not played enough games on Summoner's Rift recently to get match data</h2>
                            {{/if}}
                        {{/if}}
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="mainText">
                    {{summoner2.name}} does not exist on server {{summoner2.region}}
                </div>
            {{/if}}
        {{else}}
            <div class="mainText">
                {{summoner1.name}} does not exist on server {{summoner1.region}}
            </div>
        {{/if}}
    {{else}}
        <div class="mainText">
            Invalid region "{{summoner2.region}}" for {{summoner2.name}}
        </div>
    {{/if}}
{{else}}
    <div class="mainText">
        Invalid region "{{summoner1.region}}" for {{summoner1.name}}
    </div>
{{/if}}
