<div class="bgImageContainer one">
</div>
<a href="/"><image class="logo" src="/../../images/logo.png" alt="LOLSTATS.GG HOME" title="LOLSTATS.GG HOME"/></a>
<div class="bodyContainer">
    <h1 class="mainText">Live Game Lookup</h1>
    <div class="pageContent">
        <div class="mainText">
            {{#if outputLiveGame.inGame}}
            Live game lookup stuff {{summoner.name}} {{summoner.region}} {{summoner.id}}</br>
            Team One:</br>
            {{#each outputLiveGame.teamOne}}
            {{this.summonerName}} {{this.rankedStats.tier}} {{this.rankedStats.rank}}</br>
            {{this.champion.name}} ({{this.spell1.name}} {{this.spell2.name}})</br>
            </br>
            {{/each}}
            Team Two:</br>
            {{#each outputLiveGame.teamTwo}}
            {{this.summonerName}} {{this.rankedStats.tier}} {{this.rankedStats.rank}}</br>
            {{this.champion.name}} ({{this.spell1.name}} {{this.spell2.name}})</br>
            </br>
            {{/each}}
            {{else}}
            {{summoner.name}} on {{summoner.region}} is not in a Summoner's Rift 5v5 game.
            {{/if}}

        </div>
    </div>
</div>
