{{#if summoner.name}}
    {{#if summoner.exists}}
        <div class="bodyContainer">
            <h1 class="testWhite">Summoner Stats - {{summoner.name}} - {{summoner.region}} </h1>
            <div class="pageContent">
                <div class="rowContainer">
                    <div class="summaryRow">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/profile-icons/{{ summoner.profileIconId }}.jpg" />
                        <div class="summaryInfo">
                            <div class="testWhite">{{summoner.name}}</div>
                            <div class="testWhite">{{summoner.region}}</div>
                            <div class="testWhite">Level: {{summoner.summonerLevel}}</div>
                        </div>
                    </div>
                    <div class="summaryRow">
                        {{#if rankedInfo.tier}}
                            <img class="wrapperImage" src="/../../images/ranked/{{rankedInfo.tier}}_{{rankedInfo.rank}}.png" />
                            <div class="summaryInfo">
                                <div class="testWhite">{{ rankedInfo.tier }} {{rankedInfo.rank}} </div>
                                <div class="testWhite">{{rankedInfo.leaguePoints}} LP</div>
                                <div class="testWhite">Win: {{rankedInfo.winRateRanked}}%</div>
                                <div class="testWhite">Games played: {{rankedInfo.totalGamesRanked}}</div>
                            </div>
                        {{else}}
                            <img class="wrapperImage" src="/../../images/ranked/unranked.png" />
                            <div class="summaryInfo">
                                <p class="testWhite">Unranked</p>
                            </div>
                        {{/if}}
                    </div>
                    <div class="summaryRow">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{mastery.championId}}.png" />
                        <div class="summaryInfo">
                            <div class="testWhite"><img class="masteryImg" src="/../../images/mastery/champMasteryLevel_{{mastery.championLevel}}.png" /></div>
                            <div class="testWhite">{{mastery.championName}}, {{mastery.championTitle}}</div>
                            <div class="testWhite">Points: {{mastery.championPoints}}</div>
                        </div>
                    </div>
                </div>
                </br>
                </br>
                <h2 class="testWhite">Summary of {{summoner.name}} in the last {{matches.ids.length}} matches</h2>
                <h3 class="testWhite">Win ratio: {{matches.winRatio}}%</h3>
                <div class="rowContainer">
                    <div class="summaryRow">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches.modeChampion.info.mode}}.png" />
                        <div class="summaryInfo">
                            <div class="testWhite">Most Played Champion</div>
                            <div class="testWhite">{{matches.modeChampion.name}}, {{matches.modeChampion.title}}</div>
                            <div class="testWhite">Games played: {{matches.modeChampion.info.count}}</div>
                        </div>
                    </div>
                    <div class="summaryRow">
                        <img class="wrapperImage" src="/../../images/roles/{{matches.modePosition.mode}}.png" />
                        <div class="summaryInfo">
                            <div class="testWhite">Most Played Role</div>
                            <div class="testWhite">{{matches.modePosition.mode}}</div>
                            <div class="testWhite">Games played: {{matches.modePosition.count}}</div>
                        </div>
                    </div>
                    <div class="summaryRow">
                        <dl>
                            <dt>
                            Role distribution
                          </dt>
                            <dd class="percentage percentage-{{matches.actualpositionCount.TOP}}0"><span class="textBarChart">TOP: {{matches.actualpositionCount.TOP}}</span></dd>
                            <dd class="percentage percentage-{{matches.actualpositionCount.JUNGLE}}0"><span class="textBarChart">JUNGLE: {{matches.actualpositionCount.JUNGLE}}</span></dd>
                            <dd class="percentage percentage-{{matches.actualpositionCount.MID}}0"><span class="textBarChart">MID: {{matches.actualpositionCount.MID}}</span></dd>
                            <dd class="percentage percentage-{{matches.actualpositionCount.ADC}}0"><span class="textBarChart">ADC: {{matches.actualpositionCount.ADC}}</span></dd>
                            <dd class="percentage percentage-{{matches.actualpositionCount.SUPPORT}}0"><span class="textBarChart">SUPPORT: {{matches.actualpositionCount.SUPPORT}}</span></dd>
                        </dl>
                    </div>
                </div>
                <div class="clickable">
                    <h3 class="testWhite">Click for average Game Performance</h3>
                </div>
                <div class="toBeShown">
                    <div class="rowContainer">
                        <div class="summaryRow stats">
                            <div class="summaryInfo">
                                <div class="statsBox title">Performance</div>
                                <div class="row">
                                    <div class="statsBox label">Kills:</div>
                                    <div class="statsBox value">{{matches.averages.kills}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">Deaths:</div>
                                    <div class="statsBox value">{{matches.averages.deaths}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">Assists:</div>
                                    <div class="statsBox value">{{matches.averages.assists}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">KDA:</div>
                                    <div class="statsBox value">{{matches.averages.kdaRatio}}:1</div>
                                </div>
                            </div>
                        </div>
                        <div class="summaryRow stats">
                            <div class="summaryInfo">
                                <div class="statsBox title">Gold</div>
                                <div class="row">
                                    <div class="statsBox label">Gold Earned:</div>
                                    <div class="statsBox value">{{matches.averages.goldEarned}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">CS:</div>
                                    <div class="statsBox value">{{matches.averages.totalMinionsKilled}} {{matches.averages.csPerMin}}/min</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">CS difference to opponent:</div>
                                    <div class="statsBox value">{{matches.averages.csDiff}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="summaryRow stats">
                            <div class="summaryInfo">
                                <div class="statsBox title">Damage, Healing and Crowd Control:</div>
                                <div class="row">
                                    <div class="statsBox label">Total Damage:</div>
                                    <div class="statsBox value">{{matches.averages.totalDamageDealtToChampions}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">Damage Types:</div>
                                    <div class="statsBox value">{{matches.averages.physicalDamageDealtToChampions}}/{{matches.averages.magicDamageDealtToChampions}}/{{matches.averages.trueDamageDealtToChampions}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">Healing:</div>
                                    <div class="statsBox value">{{matches.averages.totalHeal}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">Crowd Control Score:</div>
                                    <div class="statsBox value">{{matches.averages.timeCCingOthers}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rowContainer">
                        <div class="summaryRow stats">
                            <div class="summaryInfo">
                                <div class="statsBox title">Vision:</div>
                                <div class="row">
                                    <div class="statsBox label">Vision Score:</div>
                                    <div class="statsBox value">{{matches.averages.visionScore}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">Control Wards Bought:</div>
                                    <div class="statsBox value">{{matches.averages.visionWardsBoughtInGame}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">Wards Placed:</div>
                                    <div class="statsBox value">{{matches.averages.wardsPlaced}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="summaryRow stats">
                            <div class="summaryInfo">
                                <div class="statsBox title">Objectives:</div>
                                <div class="row">
                                    <div class="statsBox label">Damage to Objectives:</div>
                                    <div class="statsBox value">{{matches.averages.damageDealtToObjectives}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">Damage to Turrets:</div>
                                    <div class="statsBox value">{{matches.averages.damageDealtToTurrets}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">Turret Kills:</div>
                                    <div class="statsBox value">{{matches.averages.turretKills}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">Inhibitor kills:</div>
                                    <div class="statsBox value">{{matches.averages.inhibitorKills}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="summaryRow stats">
                            <div class="summaryInfo">
                                <div class="statsBox title">Jungling:</div>
                                <div class="row">
                                    <div class="statsBox label">Total Neutral Minions Killed:</div>
                                    <div class="statsBox value">{{matches.averages.neutralMinionsKilled}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">Team Jungle:</div>
                                    <div class="statsBox value">{{matches.averages.neutralMinionsKilledTeamJungle}}</div>
                                </div>
                                <div class="row">
                                    <div class="statsBox label">Enemy Jungle:</div>
                                    <div class="statsBox value">{{matches.averages.neutralMinionsKilledEnemyJungle}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="testWhite">Match History</h2>
                <div class="match-container {{matches.matchData.0.outcome}}">
                    <div class="champion-portrait">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches.matchData.0.championId}}.png" />
                    </div>
                    <div class="ss-container">
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.0.spell1Id}}.png" /></div>
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.0.spell2Id}}.png" /></div>
                    </div>
                    <div class="match-data">
                        <span>Here is some content</span>
                    </div>
                    <div class="items-container">
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.0.item0}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.0.item1}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.0.item2}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.0.item6}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.0.item3}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.0.item4}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.0.item5}}.png" /></div>
                    </div>
                    <div class="runes-container">
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.0.perk3}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.0.perk2}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.0.perk1}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.0.perk0}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.0.perk5}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.0.perk4}}.png" /></div>
                    </div>
                </div>
                <br />

                <div class="match-container {{matches.matchData.1.outcome}}">
                    <div class="champion-portrait">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches.matchData.1.championId}}.png" />
                    </div>
                    <div class="ss-container">
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.1.spell1Id}}.png" /></div>
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.1.spell2Id}}.png" /></div>
                    </div>
                    <div class="match-data">
                        <span>Here is some content</span>
                    </div>
                    <div class="items-container">
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.1.item0}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.1.item1}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.1.item2}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.1.item6}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.1.item3}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.1.item4}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.1.item5}}.png" /></div>
                    </div>
                    <div class="runes-container">
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.1.perk3}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.1.perk2}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.1.perk1}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.1.perk0}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.1.perk5}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.1.perk4}}.png" /></div>
                    </div>
                </div>
            </br>
                <div class="match-container {{matches.matchData.2.outcome}}">
                    <div class="champion-portrait">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches.matchData.2.championId}}.png" />
                    </div>
                    <div class="ss-container">
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.2.spell1Id}}.png" /></div>
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.2.spell2Id}}.png" /></div>
                    </div>
                    <div class="match-data">
                        <span>Here is some content</span>
                    </div>
                    <div class="items-container">
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.2.item0}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.2.item1}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.2.item2}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.2.item6}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.2.item3}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.2.item4}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.2.item5}}.png" /></div>
                    </div>
                    <div class="runes-container">
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.2.perk3}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.2.perk2}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.2.perk1}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.2.perk0}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.2.perk4}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.2.perk5}}.png" /></div>
                    </div>
                </div>
                </br>
                <div class="match-container {{matches.matchData.3.outcome}}">
                    <div class="champion-portrait">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches.matchData.3.championId}}.png" />
                    </div>
                    <div class="ss-container">
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.3.spell1Id}}.png" /></div>
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.3.spell2Id}}.png" /></div>
                    </div>
                    <div class="match-data">
                        <span>Here is some content</span>
                    </div>
                    <div class="items-container">
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.3.item0}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.3.item1}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.3.item2}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.3.item6}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.3.item3}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.3.item4}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.3.item5}}.png" /></div>
                    </div>
                    <div class="runes-container">
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.3.perk3}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.3.perk2}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.3.perk1}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.3.perk0}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.3.perk5}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.3.perk4}}.png" /></div>
                    </div>
                </div>
                <br />
                <div class="match-container {{matches.matchData.4.outcome}}">
                    <div class="champion-portrait">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches.matchData.4.championId}}.png" />
                    </div>
                    <div class="ss-container">
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.4.spell1Id}}.png" /></div>
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.4.spell2Id}}.png" /></div>
                    </div>
                    <div class="match-data">
                        <span>Here is some content</span>
                    </div>
                    <div class="items-container">
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.4.item0}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.4.item1}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.4.item2}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.4.item6}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.4.item3}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.4.item4}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.4.item5}}.png" /></div>
                    </div>
                    <div class="runes-container">
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.4.perk3}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.4.perk2}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.4.perk1}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.4.perk0}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.4.perk5}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.4.perk4}}.png" /></div>
                    </div>
                </div>
                <br />
                <div class="match-container {{matches.matchData.5.outcome}}">
                    <div class="champion-portrait">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches.matchData.5.championId}}.png" />
                    </div>
                    <div class="ss-container">
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.5.spell1Id}}.png" /></div>
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.5.spell2Id}}.png" /></div>
                    </div>
                    <div class="match-data">
                        <span>Here is some content</span>
                    </div>
                    <div class="items-container">
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.5.item0}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.5.item1}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.5.item2}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.5.item6}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.5.item3}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.5.item4}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.5.item5}}.png" /></div>
                    </div>
                    <div class="runes-container">
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.5.perk3}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.5.perk2}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.5.perk1}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.5.perk0}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.5.perk5}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.5.perk4}}.png" /></div>
                    </div>
                </div>
                <br />
                <div class="match-container {{matches.matchData.6.outcome}}">
                    <div class="champion-portrait">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches.matchData.6.championId}}.png" />
                    </div>
                    <div class="ss-container">
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.6.spell1Id}}.png" /></div>
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.6.spell2Id}}.png" /></div>
                    </div>
                    <div class="match-data">
                        <span>Here is some content</span>
                    </div>
                    <div class="items-container">
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.6.item0}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.6.item1}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.6.item2}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.6.item6}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.6.item3}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.6.item4}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.6.item5}}.png" /></div>
                    </div>
                    <div class="runes-container">
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.6.perk3}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.6.perk2}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.6.perk1}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.6.perk0}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.6.perk5}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.6.perk4}}.png" /></div>
                    </div>
                </div>
                <br />
                <div class="match-container {{matches.matchData.7.outcome}}">
                    <div class="champion-portrait">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches.matchData.7.championId}}.png" />
                    </div>
                    <div class="ss-container">
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.7.spell1Id}}.png" /></div>
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.7.spell2Id}}.png" /></div>
                    </div>
                    <div class="match-data">
                        <span>Here is some content</span>
                    </div>
                    <div class="items-container">
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.7.item0}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.7.item1}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.7.item2}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.7.item6}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.7.item3}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.7.item4}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.7.item5}}.png" /></div>
                    </div>
                    <div class="runes-container">
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.7.perk3}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.7.perk2}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.7.perk1}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.7.perk0}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.7.perk5}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.7.perk4}}.png" /></div>
                    </div>
                </div>
                <br />
                <div class="match-container {{matches.matchData.8.outcome}}">
                    <div class="champion-portrait">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches.matchData.8.championId}}.png" />
                    </div>
                    <div class="ss-container">
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.8.spell1Id}}.png" /></div>
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.8.spell2Id}}.png" /></div>
                    </div>
                    <div class="match-data">
                        <span>Here is some content</span>
                    </div>
                    <div class="items-container">
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.8.item0}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.8.item1}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.8.item2}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.8.item6}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.8.item3}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.8.item4}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.8.item5}}.png" /></div>
                    </div>
                    <div class="runes-container">
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.8.perk3}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.8.perk2}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.8.perk1}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.8.perk0}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.8.perk5}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.8.perk4}}.png" /></div>
                    </div>
                </div>
                <br />
                <div class="match-container {{matches.matchData.9.outcome}}">
                    <div class="champion-portrait">
                        <img class="wrapperImage" src="http://stelar7.no/cdragon/latest/champion-icons/{{matches.matchData.9.championId}}.png" />
                    </div>
                    <div class="ss-container">
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.9.spell1Id}}.png" /></div>
                        <div class="spell"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/summoner-spells/{{matches.matchData.9.spell2Id}}.png" /></div>
                    </div>
                    <div class="match-data">
                        <span>Here is some content</span>
                    </div>
                    <div class="items-container">
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.9.item0}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.9.item1}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.9.item2}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.9.item6}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.9.item3}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.9.item4}}.png" /></div>
                        <div class="item"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/items/{{matches.matchData.9.item5}}.png" /></div>
                    </div>
                    <div class="runes-container">
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.9.perk3}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.9.perk2}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.9.perk1}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.9.perk0}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.9.perk5}}.png" /></div>
                        <div class="rune"><img class="wrapperImage" src="http://stelar7.no/cdragon/latest/perks/{{matches.matchData.9.perk4}}.png" /></div>
                    </div>
                </div>
                <br />
            </div>

        </div>
        </div>
        <div class="testWhite">
            <div class="testWhite">
                {{matches.matchData.0.championId}}
            </div>
            <div>
    {{else}}
        <h1 class="testWhite">Summoner {{summoner.name}} does not exist on {{summoner.region}}.</h1>
    {{/if}}
{{else}}
    <h1 class="testWhite">Error - do not access lookup page via URL.</h1>
{{/if}}
</div>
